@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*======================================== Start General ========================================*/
body,
html {
    font-family: "Lora", sans-serif;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

.bold-header {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;

}

.mar-t {
    margin-top: 0;
    padding-top: 1.5rem;
}

.mar-b {
    margin-bottom: 0;
}

/*======================================== Start Navbar ========================================*/

nav .bold-header {
    font-size: 4rem;
    padding-left: 1rem;
}

.nav-extended ul li a:hover {
    color: #faff00;
}

.brand-logo::first-letter {
    color: #faff00;
}

.log {
    text-decoration: overline solid #faff00;
}

/*======================================== Start Main ========================================*/

.gradient {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.wild {
    margin-top: 0;
    font-size: 12rem;
    font-weight: 900;
    color: #fafafa;
}

.caption h2 {
    font-size: 8rem;
    font-weight: 700;
}

.caption h5 {
    font-size: 3rem;
    font-family: "Lora", sans-serif;
    font-weight: 600;
}

.border {
    -webkit-text-stroke: 2px black;
}

.thin-border {
    -webkit-text-stroke: 1px black;
}

.slider .indicators .indicator-item.active {
    background-color: #faff00;
}


.navigation {
    background-color: #212121;
}

.navigation a h2 {
    font-size: 6rem;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
}

.navigation a h2 span {
    color: #faff00;
}

.navigation a h2:hover {
    color: #faff00;
}

.navigation p {
    color: white;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.about-us h3 {
    padding-bottom: 1rem;
}

.about-us .about {
    background-image: url(/static/images/arg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
}

.about-us .about2 {
    background-image: url(/static/images/purmamarca.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
}

.exp {
    padding-top: 2rem;
}

.by-user {
    font-size: 1rem;
}

.grid {
    float: left;
    width: 25%;
    padding: 10px;
}

#map {
    height: 20rem;
}

/*======================================== Start Footer ========================================*/

.social-links p {
    margin-top: 0rem;
}

.social-links {
    text-align: center;
    margin: 0 auto;
}

.social-links ul li {
    padding-left: 1rem;
    display: inline;
}

.social-links ul {
    padding-left: 0;
    padding-right: 1rem;
}

.social-links ul li a i {
    color: #faff00;
    transition: all 0.35s ease-in-out;
}

.social-links ul li a i:hover {
    color: #fafafa;
}

#contact:hover{
    color: #faff00;
    transition: all 0.35s ease-in-out;
}

#scroll-down {
  position: absolute;
  bottom: 1%;
  left: 48%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font-size: 4rem;
  text-decoration: none;
  transition: opacity .3s;
  opacity: .5;
}
#scroll-down:hover {
  opacity: 1;
}

/*======================================== 404.html ========================================*/

.error{
    font-size: 22rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #fafafa;
    margin-top: 0rem;
}

#goback {
    color: #faff00;
    transition: all 0.35s ease-in-out;
}

#goback:hover {
    color: #fff;
    transition: all 0.35s ease-in-out;
}

/*======================================== Start Media Queries ========================================*/

@media screen and (max-width: 1621px) {
    .arg {
        font-size: 8rem;
    }

    .navigation a h2 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 715px) {
    .wild {
        font-size: 9rem;
    }

    .caption h2 {
        font-size: 5rem;
    }

    .caption h5 {
        font-size: 2rem;
    }

    .navigation a h2 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 520px) {
    .wild {
        font-size: 6rem;
    }

    .caption h2 {
        font-size: 4rem;
    }

    .caption h5 {
        font-size: 2rem;
    }

    .navigation a h2 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 330px) {
    .wild {
        font-size: 4rem;
    }

    .caption h2,
    .navigation a h2 {
        font-size: 3rem;
    }

    .caption h5 {
        font-size: 2rem;
    }

    .navigation a h2 {
        font-size: 2rem;
    }
}