{% extends "base.html" %}
{% block content %}

<h3 class="bold-header center-align white-text mar-t">ADD NEW EXPERIENCE</h3>


    <div class="row mar-b">
        <form class="col s12 m8 offset-m2" method="POST" action="">
            <div class="card-panel">
                <!--type select-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-mountain prefix"></i>
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled selected></option>
                            {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="category_name">Experience Type</label>
                    </div>
                </div>
                <!--experience title-->
                <div class="row">
                    <div class="input-field col s12">
                        <div class="input-field col s12">
                            <i class="fas fa-pencil-alt prefix"></i>
                            <input id="experience_name" name="experience_name" type="text" minlength="6" max="25"
                                class="materialize-textarea validate" required>
                            <label for="experience_name">Title</label>
                        </div>
                    </div>
                </div>
                <!--place-->
                <div class="row">
                    <div class="input-field col s12">
                        <div class="input-field col s12">
                            <i class="fas fa-map-pin prefix"></i>
                            <input id="place_name" name="place_name" type="text" minlength="6" max="15"
                                class="materialize-textarea validate" required>
                            <label for="place_name">Place</label>
                        </div>
                    </div>
                </div>
                <!--summary-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix"></i>
                        <textarea id="experience_description" name="experience_description" minlength="20" max="100"
                            class="materialize-textarea" required></textarea>
                        <label for="experience_description">Summary</label>
                    </div>
                </div>
                <!--submit button-->
                <div class="row">
                    <button type="submit" class="col s12 btn-large blue-grey darken-4">
                        Submit<i class="fas fa-submit"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}