<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css" />
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <!-- Responsive Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='images/favicon/safari-pinned-tab.svg') }}" color="#263238">
    <meta name="msapplication-TileColor" content="#263238">
    <meta name="theme-color" content="#263238">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- EmailJS initializer -->
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script>
        (function () {
            emailjs.init("user_ULU1b0pe9Kb7Ry244BdGf");
        })();
    </script>
    {% endblock %}
    <title>WILD ARG</title>
</head>

<body>

    <header>

        <!--Navbar-->
        <div class="navbar-fixed">
            <nav class="nav-extended blue-grey text-shadow darken-4">
                <div class="nav-wrapper">
                    <a href="{{ url_for('index') }}" class="brand-logo bold-header left">WA</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                    <ul class="right hide-on-med-and-down" style="padding-right: 1rem;">
                        <li id="li-ind"><a href="{{ url_for('index') }}">Home</a></li>
                        <li id="li-abt"><a href="{{ url_for('index') }}#about-us">About</a></li>
                        <li id="li-xp"><a href="{{ url_for('get_experiences') }}">Browse</a></li>
                        <li id="li-dcv"><a href="{{ url_for('get_regions') }}">Discover</a></li>
                        {% if session.user %}
                        <li id="li-shr"><a href="{{ url_for('add_experience') }}">Share</a></li>
                        <li id="li-prf"><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a class="log" href="{{ url_for('logout') }}">Log Out</a></li>
                        {% else %}
                        <li id="li-reg"><a href="{{ url_for('register') }}">Register</a></li>
                        <li id="li-lgi"><a class="log" href="{{ url_for('login') }}">Log In</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>

        <!--Mobile Navbar-->
        <ul class="sidenav" id="mobile-demo">
            <h4 class="center-align">WILD</br>ARGENTINA</h4>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('index') }}#about-us">About</a></li>
            <li><a href="{{ url_for('get_experiences') }}">Browse</a></li>
            <li><a href="{{ url_for('get_regions') }}">Discover</a></li>
            {% if session.user %}
            <li><a href="{{ url_for('add_experience') }}">Share</a></li>
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            {% endif %}
        </ul>

    </header>

    <section>
        <!--flash messages-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes blue-grey darken-3 mar-b mar-t">
            <h4 class="center-align white-text"><em>{{ message }}</em></h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <main class="blue-grey darken-3">
        {% block content %}

        {% endblock %}
    </main>

    <footer class="page-footer blue-grey darken-3">
        <div class="footer-copyright blue-grey darken-4">
            <div class="container">
                <div class="row social-links">
                    <p>©2021 JJLG</p>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                    <a data-target="modal1" class="grey-text modal-trigger text-lighten-4 btn-flat">
                        <p id="contact">Contact</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content center-align grey darken-4 white-text">
                <h3 class="center-align">Wild Argentina</h3>
                <h5 class="center-align">Get in touch</h5>
                <div class="center-form">
                    <form id="contact-form" onsubmit="return sendMail(this);">
                        <input type="text" name="name" id="name" class="white-text form-control" placeholder="Name"
                            required />
                        <input type="email" name="email" id="emailaddress" class="white-text form-control"
                            placeholder="Email" required />
                        <textarea rows="5" name="message" id="message" class="white-text form-control"
                            placeholder="Write your message here" required></textarea>
                        <div class="form-row text-center">
                            <div class="col">

                            </div>
                        </div>
                        <div class="modal-footer grey darken-3 center-align">
                            <button type="submit" class="btn center-align green darken-3">Send</button>
                            <a href="#!" id="close" type="button"
                                class="modal-close center-align waves-effect waves-green btn red"
                                data-dismiss="modal">Close</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>

    {% block scripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Compiled and minified Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Google Maps API -->
    <script
        src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDp3FIRc6f1WgBKtu63UvR6_Ae21t_1MT4&callback=initMap">
    </script>
    <script src="{{ url_for('static', filename='js/maps.js') }}"></script>
    <!-- EmailJS API -->
    <script src="{{ url_for('static', filename='js/emailjs.js') }}"></script>
    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %}
    {% block active %}
    {% endblock %}
</body>

</html>