{% extends "base.html" %}
{% block content %}

<h3 class="bold-header section-title center-align white-text mar-t">- DISCOVER <br/>THE REGIONS -</h3>

<div class="container">
    <!-- Loop through all experiences -->
    {% for region in regions %}
    <!-- Select regions with uneven index number -->
    {% if loop.index % 2 != 0 %}
    <div class="row">

        <div class="col m1"></div>
        <!-- Region image -->
        <div class="col m5 s12 region-img" style="background-image: url('{{ region.img_url }}')">
            </div>
        <!-- Region content -->
        <div class="col m5 s12 white-text grey darken-4" style="height: 20rem;">
            <h4 class="header bold-header center">{{ region.region_name }}</h4>
            <div class="summary">
            <p>{{ region.region_summary }}</p>
            </div>
            <div class="row hide-on-med-and-up"></div>
            <div class="card-action grey center-align darken-4">
                <!-- Redirect user to proper region page -->
                <a class="yellow darken-1 black-text bold-header btn-small" href="{{ url_for('region', query=region.region_name) }}">Discover
                    <span class="hide-on-med-and-down">Experiences</span></a>
            </div>
        </div>

        <div class="col m1"></div>
    </div>
    <!-- Select regions with even index number -->
    {% else %}
    <div class="row">

        <div class="col m1"></div>
        <!-- Region content -->
        <div class="col m5 s12 white-text grey darken-4" style="height: 20rem;">
            <h4 class="header bold-header center">{{ region.region_name }}</h4>
            <div class="summary">
            <p>{{ region.region_summary }}</p>
            </div>
            <div class="row hide-on-med-and-up"></div>
            <div class="card-action grey center-align darken-4">
                <!-- Conditional If to redirect user to proper region page -->
               <a class="yellow darken-1 black-text bold-header btn-small" href="{{ url_for('region', query=region.region_name) }}">Discover
                    <span class="hide-on-med-and-down">Experiences</span></a>
            </div>
        </div>
        <!-- Region image -->
        <div class="col m5 s12 region-img" style="background-image: url('{{ region.img_url }}')">
        </div>

        <div class="col m1"></div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="row mar-b"></div>
</div>

{% endblock %}

<!-- Active class controller -->
{% block active %}
<script>
    $('#li-dcv').toggleClass('active');
</script>
{% endblock %}