{% extends "base.html" %}
{% block content %}

<h3 class="bold-header section-title center-align white-text mar-t">EDIT EXPERIENCE</h3>

<!-- Edit experience form -->
<div class="row mar-b">
    <form class="col s12 m8 offset-m2" method="POST"
        action="{{ url_for('edit_experience', experience_id=experience._id) }}">
        <div class="card-panel">
            <!-- Type select -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-mountain prefix"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" selected></option>
                        {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name">Experience Type</label>
                </div>
            </div>
            <!-- Experience title -->
            <div class="row">
                <div class="input-field col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix"></i>
                        <input id="experience_name" value="{{ experience.experience_name }}" name="experience_name"
                            type="text" minlength="6" max="25" class="materialize-textarea validate" required>
                        <label for="experience_name">Title</label>
                    </div>
                </div>
            </div>
            <!-- Region select -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-map-marker-alt prefix"></i>
                    <select id="region_name" name="region_name" class="validate" required>
                        <option value="" disabled selected></option>
                        {% for region in regions %}
                        <option value="{{ region.region_name }}">{{ region.region_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name">Region</label>
                </div>
            </div>
            <!-- Location -->
            <div class="row">
                <div class="input-field col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-map-pin prefix"></i>
                        <input id="location_name" value="{{ experience.location_name }}" name="location_name"
                            type="text" minlength="6" max="15" class="materialize-textarea validate" required>
                        <label for="location_name">Place Name</label>
                    </div>
                </div>
            </div>
            <!-- Date -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar prefix blue-grey-text text-darken-4"></i>
                    <input id="experience_date" name="experience_date" value="{{ experience.experience_date }}" type="text" class="datepicker validate" required>
                    <label for="experience_date">Date</label>
                </div>
            </div>
            <!-- Summary -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix"></i>
                    <textarea id="experience_description" name="experience_description" minlength="20" max="100"
                        class="materialize-textarea" required>{{ experience.experience_description }}</textarea>
                    <label for="experience_description">Summary</label>
                </div>
            </div>
            <!-- #1 Image URL -->
            <div class="row">
                <div class="input-field col s12">
                    <div class="input-field col s12">
                        <i class="far fa-image prefix"></i>
                        <input id="picture" name="picture" value="{{ experience.picture }}" type="text" minlength="6"
                            max="15" class="materialize-textarea validate" required>
                        <label for="picture">#1 Image URL</label>
                    </div>
                </div>
            </div>
            <!-- #2 Image URL -->
            <div class="row">
                <div class="input-field col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-image prefix"></i>
                        <input id="picture2" name="picture2" value="{{ experience.picture2 }}" type="text" minlength="6"
                            max="15" class="materialize-textarea validate" required>
                        <label for="picture2">#2 Image URL</label>
                    </div>
                </div>
            </div>
            <!-- #3 Image URL -->
            <div class="row">
                <div class="input-field col s12">
                    <div class="input-field col s12">
                        <i class="far fa-image prefix"></i>
                        <input id="picture3" name="picture3" value="{{ experience.picture3 }}" type="text" minlength="6"
                            max="15" class="materialize-textarea validate" required>
                        <label for="picture3">#3 Image URL</label>
                    </div>
                </div>
            </div>
            <!-- #4 Image URL -->
            <div class="row">
                <div class="input-field col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-image prefix"></i>
                        <input id="picture4" name="picture4" value="{{ experience.picture4 }}" type="text" minlength="6"
                            max="15" class="materialize-textarea validate" required>
                        <label for="picture4">#4 Image URL</label>
                    </div>
                </div>
            </div>
            <!-- #5 Image URL -->
            <div class="row">
                <div class="input-field col s12">
                    <div class="input-field col s12">
                        <i class="far fa-image prefix"></i>
                        <input id="picture5" name="picture5" value="{{ experience.picture5 }}" type="text" minlength="6"
                            max="15" class="materialize-textarea validate" required>
                        <label for="picture5">#5 Image URL</label>
                    </div>
                </div>
            </div>
            <!-- Latitude -->
            <div class="row">
                <div class="input-field col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-map-marked-alt prefix"></i>
                        <input id="latitude" name="latitude" value="{{ experience.latitude }}" type="text" minlength="6"
                            max="15" class="materialize-textarea validate" required>
                        <label for="latitude">Latitude</label>
                    </div>
                </div>
            </div>
            <!-- Longitude -->
            <div class="row">
                <div class="input-field col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-map-marked-alt prefix"></i>
                        <input id="longitude" name="longitude" value="{{ experience.longitude }}" type="text"
                            minlength="6" max="15" class="materialize-textarea validate" required>
                        <label for="longitude">Longitude</label>
                    </div>
                </div>
            </div>
            <!-- Buttons -->
            <div class="row">
                <!-- Submit button -->
                <button type="submit" class="col s12 btn-large blue-grey darken-4">
                    <i class="fas fa-edit"></i> Edit
                </button>
            </div>
            <!-- Cancel button -->
            <div class="row">
                <button href="{{ url_for('browse') }}" class="col s12 btn-large red darken-4">
                    <i class="fas fa-times"></i> Cancel
                </button>
            </div>
        </div>
    </form>
</div>


{% endblock %}