{% extends "base.html" %}   
{% block content %}

    {% for experience in experiences %}
        {{ experience.region_name }}<br>
        {{ experience.place }}<br>
        {{ experience.experience_name }}<br>
        {{ experience.experience_description }}<br>
        {{ experience.date}}<br>
        {{ experience.created_by }}<br>
    {% endfor %}
        <div class="container">
            <div class="row">
                <div class="col s12 m5">
                    <div class="card medium">
                        <div class="card-image">
                            <img src="/static/images/cuyo.gif">
                            <span class="card-title">Title</span>
                        </div>
                        <div class="card-content blue-grey white-text darken-2">
                            <p>Region</p>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action blue-grey darken-4">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            

{% endblock %}