{% extends "base.html" %}   
{% block content %}

        <div class="container">
            <div class="row exp">
                {% for experience in experiences %}
                <div class="col s12 m6 l6 xl6">
                    <div class="card large">
                        <div class="card-image">
                            <img class="responsive-img" src="{{ experience.picture }}">
                            
                        </div>
                        <div class="card-content">
                            <strong class="card-title bold-header">
                                {{ experience.experience_name }}
                                <span class="by-user">by {{ experience.by}}</span>
                            </strong>
                            <strong class="bold-header">{{ experience.category_name }} / {{ experience.region_name }}.</strong>
                            <p>{{ experience.experience_description }}</p>
                        </div>
                        <div class="card-action blue-grey darken-4">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
            

{% endblock %}