{% extends "base.html" %}
{% block content %}
    <section>
        <div class="slider">
    <ul class="slides">
      <li>
        <img class="gradient" src="/static/images/wild.gif"> <!-- random image -->
        <div class="caption center-align">
          <h1 class="bold-header wild">WILD</br>ARGENTINA</h1>
        </div>
      </li>
      <li>
        <img class="gradient" src="/static/images/northeast.gif"> <!-- random image -->
        <div class="caption left-align">
          <h2 class="bold-header">North East</h2>
          <h5 class="light grey-text text-lighten-3"><em>explore the wilderness</em></h5>
        </div>
      </li>
      <li>
        <img src="/static/images/cuyo.gif"> <!-- random image -->
        <div class="caption right-align">
          <h2 class="bold-header">Cuyo</h2>
          <h5 class="light grey-text text-lighten-3"><em>discover unparalleld flavors</em></h5>
        </div>
      </li>
      <li>
        <img src="/static/images/pampas.gif"> <!-- random image -->
        <div class="caption center-align">
          <h2 class="bold-header">Pampas</h2>
          <h5 class="light grey-text text-lighten-3"><em>find your peace</em></h5>
        </div>
      </li>
      <li>
        <img src="/static/images/northwest.gif"> <!-- random image -->
        <div class="caption right-align">
          <h2 class="bold-header">North West</h2>
          <h5 class="light grey-text text-lighten-3"><em>get amazed</em></h5>
        </div>
      </li>
       <li>
        <img src="/static/images/patagonia.gif"> <!-- random image -->
        <div class="caption right-align">
          <h2 class="bold-header">Patagonia</h2>
          <h5 class="light grey-text text-lighten-3"><em>fall in love</em></h5>
        </div>
      </li>
    </ul>
  </div>
    </section>

    <section class="navigation">
        <a href="">
            <h2 class="bold-header center-align">- BROWSE -</h2>
        </a>
        <a href="">
            <h2 class="bold-header center-align">- DISCOVER -</h2>
        </a>
        <a href="{{ url_for('add_experience') }}">
            <h2 class="bold-header center-align">- SHARE -</h2>
        </a>
    </section>

    <section class="latest-additions">
        <h3 class="bold-header center-align white-text mar-b">LATEST ADDITIONS</h2>
    </section>
{% endblock %}