{% extends "base.html" %}
{% block content %}
    <section>
        <div class="slider">
    <ul class="slides">
      <li>
        <img src="/static/images/wild.jpg" alt="Seven Lakes Region"> <!-- main image -->
        <div class="caption center-align">
          <h1 class="bold-header wild border">WILD</h1>
          <h1 class="bold-header wild hide-on-med-and-down arg border">ARGENTINA</h1>
          <h1 class="bold-header wild hide-on-large-only show-on-medium-and-down border">ARG</h1>
        </div>
      </li>
      <li>
        <img src="/static/images/northeast.jpg" alt="Iguazu Waterfalls"> <!-- North East Image -->
        <div class="caption left-align">
          <h2 class="bold-header border">North East</h2>
          <h5 class="light grey-text text-lighten-3 thin-border"><em>explore the wilderness</em></h5>
        </div>
      </li>
      <li>
        <img src="/static/images/cuyo.jpg" alt="Mendoza's Vineyards"> <!-- Cuyo Image -->
        <div class="caption right-align">
          <h2 class="bold-header border">Cuyo</h2>
          <h5 class="light grey-text text-lighten-3 thin-border"><em>discover unparalleld flavors</em></h5>
        </div>
      </li>
      <li>
        <img src="/static/images/pampas.jpg" alt="Pampas Green Fields"> <!-- Pampas Image -->
        <div class="caption center-align">
          <h2 class="bold-header border">Pampas</h2>
          <h5 class="light grey-text text-lighten-3 thin-border"><em>find your peace</em></h5>
        </div>
      </li>
      <li>
        <img src="/static/images/northwest.jpg" alt="Seven Coloured Mountains"> <!-- North West Image -->
        <div class="caption right-align">
          <h2 class="bold-header border">North West</h2>
          <h5 class="light grey-text text-lighten-3 thin-border"><em>get amazed</em></h5>
        </div>
      </li>
       <li>
        <img src="/static/images/patagonia.jpg" alt="Fitz Roy Mountain"> <!-- Patagonia Image -->
        <div class="caption right-align">
          <h2 class="bold-header border">Patagonia</h2>
          <h5 class="light grey-text text-lighten-3 thin-border"><em>fall in love</em></h5>
        </div>
      </li>
    </ul>
  </div>
  <a id="scroll-down" class="hide-on-med-and-down" href="{{ url_for('index') }}#navigation">▼</a>
    </section>

    <section id="navigation"class="navigation">
        <a href="{{ url_for('get_experiences') }}">
            <h2 class="bold-header center-align" style="padding-top: 2rem; margin-top: 1rem;">- <span>B</span>ROWSE -</h2>
        </a>
        <p>Search for experiences or browse through every adventure, place, food or tradition listed on the website!</p>
        <a href="{{ url_for('get_regions') }}">
            <h2 class="bold-header center-align">- <span>D</span>ISCOVER -</h2>
        </a>
        <p>Planning a trip? Check attractions in every region of the country.</p>
        {% if session.user %}
            <a href="{{ url_for('add_experience') }}">
        {% else %}
            <a href="{{ url_for('login') }}">
        {% endif %}
            <h2 class="bold-header center-align">- <span>S</span>HARE -</h2>
        </a>
        <p style="padding-bottom: 3rem;">Want to be a part of our community? Just log in and share your experiences with us!</p>
    </section>

    <section id="about-us"class="about-us">
        <h3 class="bold-header section-title center-align white-text">- ABOUT WA -</h3>
        <div class="container">
            <div class="row">
                <div class="col m1"></div>
                <div class="col m5 s12 blue-grey darken-4 center-align valign-wrapper" style="height: 20rem;">
                    <p class="white-text">With a surface of 2.78 million km², Argentina counts with a little bit of everything when it comes to landscapes. From the highest mountains in the continent to extensive beaches with white sand, to the eerie quiet of the deser to the lively sounds of the tropical rainforest, Wild Argentina is here to help you discover new activities, share awesome food experiences, be part of old traditions and browse through incredible places.</p>
                </div>
                <div class="col m5 s12 about"></div>
                <div class="col m1"></div>
            </div>
            <div class="row"></div>
            <div class="row">
                <div class="col m1"></div>
                <div class="col m5 s12 about2"></div>
                <div class="col m5 s12 blue-grey darken-4 center-align valign-wrapper" style="height: 20rem;">
                    <p class="white-text">People and land are strongly connected by traditions. Many of them are now endangered by the quick pace of the modern world. Our mission is to help travelers make the most our of their trip by supporting local communities and businesses, and sharing their experiences for others to learn. </p>
                </div>
                <div class="col m1"></div>
            </div>
            <div class="row mar-b"></div>
        </div>
    </section>
{% endblock %}

<!-- Active class controller -->
{% block active %}
<script>
    $('#li-ind').toggleClass('active');

    $('#li-abt').click(function(){
        $('#li-ind').removeClass('active');
        $('#li-abt').toggleClass('active');
        })
    
</script>
{% endblock %}