{% extends "base.html" %}
{% block content %}
<section class="hero-image">
    <h1 class="bold-header center-align">WILD</br>ARGENTINA</h1>
</section>

<section class="navigation">
    <a href="">
        <h2 class="bold-header center-align">- BROWSE -</h2>
    </a>
    <a href="">
        <h2 class="bold-header center-align">- DISCOVER -</h2>
    </a>
    <a href="">
        <h2 class="bold-header center-align">- SHARE -</h2>
    </a>
</section>

<section class="latest-additions">
    <h3 class="bold-header center-align">LATEST ADDITIONS</h2>
</section>
{% endblock %}