{% extends "base.html" %}
{% block content %}

<div class="container">

    <h3 class="bold-header center-align white-text mar-t">- PROFILE -</h3>

    <div class="row">
        <div class="card horizontal blue-grey darken-4 white-text" >
            <div class="card-image">
                <img class="responsive-img" src="{{ username.user_image }}" style="max-height: 20rem;">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4 class="header bold-header center">{{ username.username }}</h4>
                    <h5 class="center">Birthdate: {{ username.birthdate }}</h5>
                    <h5 class="center">Gender: {{ username.gender }}</h5>
                    <h5 class="center">Nationality: {{ username.nationality }}</h5>
                    <h5 class="center">Email: {{ username.email }}</h5>
                </div>
                <div class="card-action blue-grey darken-4 center">
                    <a class="green-text darken-2 center" href="{{ url_for('edit_profile', user_id=username._id) }}">Edit profile</a>
                    <a class="red-text darken-2 center" href="{{ url_for('delete_profile', user_id=username._id) }}">Delete profile</a>
                </div>
            </div>
        </div>
    </div>


    <h3 class="bold-header center-align white-text mar-t">- MY EXPERIENCES -</h3>
    <div class="row exp mar-b">

        {% for experience in experiences %}
        {% if session.user|lower == experience.by|lower %}
        <div class="col s12 m6 l6 xl6">
            <div class="card large">
                <div class="card-image">
                    <img class="responsive-img" src="{{ experience.picture }}">

                </div>
                <div class="card-content">
                    <strong class="card-title bold-header">
                        {{ experience.experience_name }}
                        <span class="by-user">by {{ experience.by}}</span>
                    </strong>
                    <strong class="bold-header">{{ experience.category_name }} / {{ experience.region_name }}</strong>
                    <p>{{ experience.experience_description }}</p>
                </div>
                <div class="card-action blue-grey darken-4">
                    <a class="yellow-text darken-2 left" href="{{ url_for('view_experience', experience_id=experience._id) }}">Read More</a>
                    <a class="red-text darken-2 right"
                        href="{{ url_for('delete_experience', experience_id=experience._id) }}">Delete</a>
                    <a class="green-text darken-2 right"
                        href="{{ url_for('edit_experience', experience_id=experience._id) }}">Edit</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>
    <h3 class="bold-header center-align white-text">- SAVED EXPERIENCES -</h3>
    <div class="row exp mar-b">
    </div>
</div>

{% endblock %}