{% extends "base.html" %}
{% block content %}

<div class="container">

    <!-- Search bar. Query through experiences index -->
    <div class="hide row card-panel blue-grey darken-4">
        <form action="{{ url_for('browse') }}" method="GET" class="col s12">

            <div class="input-field col s12 m12 l12 xl12">
                <i class="fas fa-search prefix yellow-text"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate white-text" required>
                <label for="query">Filter</label>
            </div>
            <div class="col s12 m12 l12 xl12 center-align">
                <a href="{{ url_for('browse') }}" class="red btn-small">RESET</a>
                <button type="submit" class="green darken-2 btn-small">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>

        </form>
    </div>

    <h3 class="bold-header section-title center-align white-text mar-b mar-t">- REGION -<br/>EXPERIENCES</h3>
    <div class="row exp mar-b mar-t">
        <!-- Loop through all experiences -->
        {% for experience in experiences %}
        <div class="col s12 m6 l6 xl6">
            <div class="card large">
                <!-- Experience image -->
                <div class="card-image">
                    <img class="responsive-img" src="{{ experience.picture }}" alt="Experience's Image">

                </div>
                <!-- Experience content -->
                <div class="card-content">
                    <strong class="card-title bold-header">
                        {{ experience.experience_name }}
                        <span class="by-user">by {{ experience.by}}</span>
                    </strong>
                    <strong class="bold-header">{{ experience.category_name }} / {{ experience.region_name }}</strong>
                    <div class="xp-summary">
                        <p>{{ experience.experience_description }}</p>
                    </div>
                </div>
                 <!-- Action buttons -->
                <div class="card-action blue-grey darken-4">

                    <a class="yellow-text darken-2 left"
                        href="{{ url_for('view_experience', experience_id=experience._id) }}">Read More</a>
                    <!-- Show delete/edit buttons only if the logged in user is the author of the experience -->
                    {% if session.user|lower == experience.by|lower %}
                    <a class="red-text darken-2 right" href="{{ url_for('delete_experience', experience_id=experience._id) }}">Delete</a>
                    <a class="green-text darken-2 right"
                        href="{{ url_for('edit_experience', experience_id=experience._id) }}">Edit</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

<!-- Active class controller -->
{% block active %}
<script>
    $('#li-browse').toggleClass('active');
</script>
{% endblock %}