{% extends "base.html" %}
{% block content %}

<h3 class="bold-header center-align white-text mar-t">- REGIONS -</h3>

<div class="container">


    <div class="row s12 m7 mar-b">
        <div class="col">
            {% for region in regions %}
                {% if loop.index % 2 != 0 %}
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="{{ region.img_url }}">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <h4 class="header bold-header center">{{ region.region_name }}</h4>
                                <p>{{ region.region_summary }}</p>
                            </div>
                            <div class="card-action blue-grey darken-4">
                                {% if region.region_name|lower == 'north west'|lower %}
                                    <a class="yellow-text darken-2 left" href="{{ url_for('northwest') }}">Discover Experiences</a>
                                {% elif region.region_name|lower == 'north east'|lower %}
                                    <a class="yellow-text darken-2 left" href="{{ url_for('northeast') }}">Discover Experiences</a>
                                {% elif region.region_name|lower == 'cuyo'|lower %}
                                    <a class="yellow-text darken-2 left" href="{{ url_for('cuyo') }}">Discover Experiences</a>
                                {% elif region.region_name|lower == 'pampas'|lower %}
                                    <a class="yellow-text darken-2 left" href="{{ url_for('pampas') }}">Discover Experiences</a>
                                {% else %}
                                    <a class="yellow-text darken-2 left" href="{{ url_for('patagonia') }}">Discover Experiences</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-content">
                                <h4 class="header bold-header center">{{ region.region_name }}</h4>
                                <p>{{ region.region_summary }}</p>
                            </div>
                            <div class="card-action blue-grey darken-4">
                                {% if region.region_name|lower == 'north west'|lower %}
                                    <a class="yellow-text darken-2 left" href="{{ url_for('northwest') }}">Discover Experiences</a>
                                {% elif region.region_name|lower == 'north east'|lower %}
                                    <a class="yellow-text darken-2 left" href="{{ url_for('northeast') }}">Discover Experiences</a>
                                {% elif region.region_name|lower == 'cuyo'|lower %}
                                    <a class="yellow-text darken-2 left" href="{{ url_for('cuyo') }}">Discover Experiences</a>
                                {% elif region.region_name|lower == 'pampas'|lower %}
                                    <a class="yellow-text darken-2 left" href="{{ url_for('pampas') }}">Discover Experiences</a>
                                {% else %}
                                    <a class="yellow-text darken-2 left" href="{{ url_for('patagonia') }}">Discover Experiences</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-image">
                            <img src="{{ region.img_url }}">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% endblock %}