{% extends "base.html" %}
{% block content %}
<div class="container">

    <!-- Experience title -->
    <h3 class="bold-header section-title center-align white-text mar-t" id="xp_name" style="text-transform: uppercase; margin-bottom: 0rem;">- {{experience_id.experience_name}} -</h3>
    <!-- Experience author -->
    <p class="center-align white-text" style="font-size: 1rem;"><em>by {{experience_id.by}}</em></p>
    <hr>

    <div class="row mar-b">
        <div class="col xl8 l12 m12 s12">
            <div class="row">
                <div class="card blue-grey darken-4">
                    <!-- Expanded image -->
                    <img class="responsive-img" id="expandedImg" style="width:100%"
                        src="{{ experience_id.picture }}">

                </div>
            </div>
            <div class="row">
                <!-- #2 Image thumbnail -->
                <div class="col l3 m3 s3 grid">
                    <img class="responsive-img" src="{{ experience_id.picture2 }}" alt="Image #2"
                        onclick="img_gallery(this);">
                </div>
                <!-- #3 Image thumbnail -->
                <div class="col l3 m3 s3 grid">
                    <img class="responsive-img" src="{{ experience_id.picture3 }}" alt="Image #3"
                        onclick="img_gallery(this);">
                </div>
                <!-- #4 Image thumbnail -->
                <div class="col l3 m3 s3 grid">
                    <img class="responsive-img" src="{{ experience_id.picture4 }}" alt="Image #4"
                        onclick="img_gallery(this);">
                </div>
                <!-- #5 Image thumbnail -->
                <div class="col l3 m3 s3 grid"">
                    <img class=" responsive-img" src="{{ experience_id.picture }}" alt="Image #5"
                    onclick="img_gallery(this);">
                </div>
            </div>
        </div>
        <div class="col xl4 l12 m12 s12">
            <div class="card blue-grey darken-4 ">
                <!-- Experience content -->
                <div class="card-content white-text">
                    <h5 class="bold-header center-align white-text mar-t mar-b" id="xp_location">{{experience_id.location_name}}<h5>
                    <hr>
                    <h6 class="center-align white-text">{{experience_id.category_name}} / {{experience_id.region_name}}</h6>
                    <div class="summary-xp">
                    <p>{{experience_id.experience_description}}
                    </p>
                    </div>
                    <hr>
                    <p><em>{{experience_id.experience_date}}</em></p>
                </div>
                <!-- Lat & Lng for the map -->
                <div class="hide">
                     <span id="lat">{{ experience_id.latitude }}</span>
                     <span id="lng">{{ experience_id.longitude }}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Map showing experience's location -->
    <div class="row mar-b center-align">
            <div id="map" onload="viewExperienceMap()">
            </div>
    </div>

</div>
{% endblock %}

<!-- Google Maps API -->
{% block map %}
    <script
        src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDp3FIRc6f1WgBKtu63UvR6_Ae21t_1MT4&callback=initMap">
    </script>
    <script src="{{ url_for('static', filename='js/maps.js') }}"></script>
{% endblock %}